html, body {
	height: 100%;
}

body {
	margin: 0;
	background: black;
}

#canvaswrapper {
	margin: 0 auto;
	position: relative;
	top: 50%;
	margin-top: -274px;
	display: block;
	width: 320px;
	height: 548px;
	background: url('../images/iphone-5-startup.png');
	background-size: cover;
}
#canvas {
	position: relative;
	z-index: 10;
	opacity: 0;
	-webkit-transition: 300ms opacity;
	   -moz-transition: 300ms opacity;
	     -o-transition: 300ms opacity;
	        transition: 300ms opacity;
}
#canvas.loaded {
	opacity: 1;
}

#safari-instructions {
	position: relative;
	z-index: 1;
	opacity: 0;
	-webkit-transition: 500ms opacity;
	   -moz-transition: 500ms opacity;
	     -o-transition: 500ms opacity;
	        transition: 500ms opacity;
}
#safari-instructions.active {
	opacity: 1;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	position: absolute;
	top: 50%;
	left: 15%;
	width: 70%;
	height: 200px;
	margin-top: -100px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.95);
	border-radius: 20px;
	border: 2px solid #044;
	box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.5);

	font: 25px Squada One, sans-serif;
	color: #077;
	text-align: center;
}

#safari-instructions img {
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -59px;
}

#name-input {
	display: none;
	position: absolute;
	top: 297px;
	left: 50px;
	border: 0;
	padding: 0 0 0 10px;
	line-height: 45px;
	height: 45px;
	width: 180px;
	background: transparent;
	text-transform: uppercase;
	font: 30px Squada One, sans-serif;
	color: #0bb;
}
::-webkit-input-placeholder {
	color: #999 !important;
}
:-moz-placeholder {
	color: #999 !important;
}
::-moz-placeholder {
	color: #999 !important;
}
::-ms-input-placeholder {
	color: #999 !important;
}
#name-input:focus {
	outline: none;
}
#name-input.visible {
	display: block;
}