html, body {
	height: 100%;
}

body {
	margin: 0;
	background: black;
}

#canvaswrapper {
	margin: 0 auto;
	position: relative;
	top: 50%;
	margin-top: -274px;
	display: block;
	width: 320px;
	height: 548px;
	background: url('../images/iphone-5-startup.png');
	background-size: cover;
}
#canvas {
	opacity: 0;
	-webkit-transition: 300ms opacity;
}
#canvas.loaded {
	opacity: 1;
}

#name-input {
	display: none;
	position: absolute;
	top: 297px;
	left: 50px;
	border: 0;
	padding: 0 0 0 10px;
	line-height: 45px;
	height: 45px;
	width: 180px;
	background: transparent;
	text-transform: uppercase;
	font: 30px Squada One, sans-serif;
	color: #0bb;
}
::-webkit-input-placeholder {
	color: #999 !important;
}
:-moz-placeholder {
	color: #999 !important;
}
::-moz-placeholder {
	color: #999 !important;
}
::-ms-input-placeholder {
	color: #999 !important;
}
#name-input:focus {
	outline: none;
}
#name-input.visible {
	display: block;
}